<% include ../partials/header %>

  <div>
    <div><%=game.size %>, Can move: <span id="canMove"></span></div>
    
  </div>
  <div class="game">
  <% black = false %>  
  <% for(let i = 0; i < game.size; i++) { %>
    <div>
      <% for(let j = 1; j <= game.size; j++) { %>
      <div id="cell-<%= (i*16 + j) %>" class="game-cell-<%= game.size %> <%= black ? "black" : "white" %>" onclick="doMove(<%= (i*16 + j) %>)"></div>
      <% black = !black %>  
      <% }%>
      <% black = !black %>  
    </div> 
   <% }%>

  </div> 
   

  <!-- My flip counter script, REQUIRED -->
  <script type="text/javascript" src="/js/flipcounter.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/counter.css" />

  <script src="/js/functions.js"></script>

  <% include ../partials/footer %>